PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.w9zbmgk.mongodb.net/collex?retryWrites=true&w=majority&appName=Cluster0
API_PREFIX=/api/v1
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
APPROVED_COLLEGE_DOMAINS=iitb.ac.in,bits-pilani.ac.in,dtu.ac.in,nitt.edu,rvce.edu.in,gmail.com
